
.text-container {
    display: flex;
}

.text-container .text {
    display: flex;
    flex-flow: column-reverse wrap;
    border: 1px solid grey;
}

.text-container .text > * {
    width: 9.7rem;
}

input[type="text"] {
    text-align: right;
    border-style: none;
}

#firstNumber {
    font-size: 1em;
}

#secondNumber {
    font-size: .25em;
    color: grey;
}

.buttons-container {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.buttons-container .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 220px;
}

.buttons-container .operators {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 70px;
}

button {
    width: 70px;
}
